@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  
}

@layer utilities {
  .flexCenter {
    @apply flex items-center justify-center;
  }
}

.table-responsive {
  @media screen and (max-width: 1023.98px) {
    th,
    td {
      &:not(:first-child) {
        padding-left: 100px;
      }
    }
  }
}
