.tableContainer {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    font-size: 13px;
}
.tableContainer table thead th {
    background-color: #9dfca5; /* Màu nâu nhạt */
    color: rgb(0, 0, 0); /* Màu chữ trắng để dễ đọc */
    padding: 10px;
    text-align: left;
    font-size: 14px;
   
}

.titleTable{
    display: flex;
    .titles{
        color:#3b82f6;
    }
}
.statusPaid {
    background-color: #fecaca;
    color: #b91c1c;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.85rem;
}

.statusActive {
    background-color: #d1fae5;
    color: #065f46;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.85rem;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    border: 2px solid #3b82f6;
}
.avatarContainer {
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    gap: 5px; /* Khoảng cách giữa avatar và name */
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #3b82f6;
}

.name {
    font-size: 13px;
    font-weight: 500;
}
/* Định dạng header chứa ô tìm kiếm */
.headerActions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.searchContainer {
    display: flex;
    align-items: center;
}

.searchContainer input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
}

.searchContainer button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.searchContainer button:hover {
    background-color: #0056b3;
}

/* Modal nền mờ */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    
}

.modalContent label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

.modalContent input, .modalContent select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modalButtons {
    display: flex;
    justify-content: space-between;
}

.modalButtons button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modalButtons button:first-child {
    background-color: #28a745;
    color: white;
}

.modalButtons button:last-child {
    background-color: #dc3545;
    color: white;
}
