.bread-crumb{
  background: #ddd;
  margin-bottom: 30px;
}
@media (min-width: 1400px) {
  .container {
      max-width: 1300px;
  }
}
.breadcrumb {
  margin: 0;
  font-size: 14px;
  padding: 15px 0px;
  border-radius: 0;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  text-align: left;
}
.breadcrumb li {
  display: inline;
  display: flex;
  align-items: center;
  padding: 5px;
}
.breadcrumb li>a {
  color: #000;
  text-decoration: none;
}
.breadcrumb li>a>span {
  color: #000;
}
.breadcrumb li .mr_lr {
  padding: 0px 3px;
  color: #000;
}
.breadcrumb li .mr_lr svg {
  width: 10px;
  height: 10px;
  margin-top: -5px;
}
.breadcrumb li a:hover,
.breadcrumb li strong {
  color: #e31837;
  font-weight: 400;
  text-decoration: none;
}
.breadcrumb li a:hover span,
.breadcrumb li strong span {
  color: #e31837;
}


.layout {
  padding-bottom: 30px;
}
@media (min-width: 1400px) {
  .container {
      max-width: 1300px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 1200px) {
  .col-xl-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
  }
}
.row-fix {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.col-fix {
  flex: 1 1 calc(50% - 10px); /* Chia thành 2 cột mỗi hàng */
  max-width: calc(50% - 10px);
}

.item-blog {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.item-blog:hover {
  transform: translateY(-5px);
}

.block-thumb img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.block-content {
  padding: 15px;
}

.block-content h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.block-content h3 a {
  text-decoration: none;
  color: #333;
}

.block-content h3 a:hover {
  text-decoration: none;
  color: #e31837;
}

.time-post{
  color: #e31837;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold;
}
.block-content {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

.block-content p {
  font-size: 14px;
  color: #555;
}


@media (min-width: 1200px) {
  .col-xl-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
  }
}
/* .col-xl-4 {
  max-width: 300px;
  margin: 0 auto;
  padding: 16px;
}
.aside-content-menu {
  background-color: white;
}
.title-head-col {
  background-color: #047857;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 8px;
  border-radius: 4px;
}
.nav-category {
  margin-top: 16px;
}
.nav-category .nav {
  list-style: none;
  padding: 0;
}
.nav-category .nav-item {
  margin-bottom: 8px;
}
.nav-category .nav-link {
  text-decoration: none;
  color: black;
  display: block;
  padding: 4px 0;
}
.nav-category .nav-link:hover {
  color: #047857;
}
.nav-category .nav-item.relative .nav-link {
  padding-right: 20px;
}
.nav-category .nav-item.relative .open_mnu {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #047857;
}
.nav-category .menu_down {
  display: none;
  list-style: none;
  padding-left: 16px;
  margin-top: 8px;
}
.nav-category .nav-item.relative:hover .menu_down {
  display: block;
}
.nav-category .menu_down .nav-item {
  margin-bottom: 4px;
} */
.aside-section {
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}
.aside-title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 16px;
  background-color: #006a31;
  color: white;
  padding: 8px;
  border-radius: 4px;
}
.aside-list {
  list-style: none;
  padding: 0;
}
.aside-list li {
  margin-bottom: 8px;
}
.aside-list li a {
  font-size: 14px;
  color: #000;
  text-decoration: none;
}
.aside-list li a:hover {
  font-size: 14px;
  color: #006a31;
  text-decoration: none;

}
.aside-list .aside-news-item a {
  color: #000;
  text-decoration: none;
}
.aside-list .aside-news-item a:hover {
  color: #e31837;
  text-decoration: none;
}

.aside-list a.font-bold {
  font-weight: bold;
}
.aside-news-item {
  display: flex;
  align-items: center;
}
.aside-news-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 8px;
}


.blog_noibat {
  margin-bottom: 30px;
}
.blog_noibat h2 {
  margin-bottom: 15px;
  position: relative;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  display: block;
  background: #006a31;
  padding: 5px 10px;
  border-radius: 5px;
}
.blog_noibat h2 a {
  color: #fff;
}
.item-blog-small {
  margin-bottom: 10px;
  display: flex
;
}
.item-blog-small .block-thumb {
  min-width: 100px;
  width: 100px;
}
.item-blog-small .block-thumb img {
  border-radius: 10px;
}
.item-blog-small .block-content {
  min-width: calc(100% - 100px);
  width: calc(100% - 100px);
  margin-left: 10px;
}
.item-blog-small .block-content h3 {
  font-size: 16px;
}
